@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@import "tailwindcss";
@plugin "daisyui";


@theme {

  --breakpoint-xs: 0rem;
  --breakpoint-sm: 36rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-xxl: 87.5rem;

  --color-blog: rgba(136, 136, 136, .8);
  --color-contentBox: rgba(0, 0, 0, 0.19);
  --color-borderHover:#9c1717;
  --color-bannerCover: rgba(255, 255, 255, 0.3);

  --font-poppins: "Poppins", sans-serif;
}